* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-image: url("https://cdn.glitch.com/07cf7d5c-07ff-43d7-8413-01372d2180a7%2Fabstract-background-with-a-wavy-pattern_1319-70.jpg?1504695542133");
  width: 100%;
}


/*-----Navigatie balk-----*/

header {
  height: 80px;
  width: 100%;
  background-color: inherit;
  position: fixed;
  z-index: 1000;
  background-color: black;
  color: #fff;
}

.nav-balk li {
  height: inherit;
  padding-right: 2%;
  padding-left: 2%;
  line-height: 80px;
  font-size: 4vh;
  float: left;
  background-color: inherit;
  cursor: pointer;
  transition: background 150ms ease-in, color 150ms ease-in;
}

.nav-balk li:hover {
  color: yellow;
  background-color: red;
}

.nav-balk a {
  color: inherit;
}


/* ----- Section ----- */

section {
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
}


/* ----- Sidebar ----- */

aside {
  background-color: #ff8000;
  position: fixed;
  width: 12%;
  height: 100vh;
  float: left;
  padding: 1vh;
}

aside h1 {
  text-align: center;
  font-size: 5vh;
  color: black;
}

aside ul a {
  color: black;
}

aside ul li {
  text-align: left;
  font-size: 3vh;
/*   padding-top: 1vh; */
  margin-top: 10%;
}

aside ul li ul li {
  padding-left: 3vh;
  font-size: 2vh;
  color: #333;
  margin: 0;
}


/* ----- Content ----- */

main {
  height: 100%;
  min-height: 100vh;
  width: 85%;
  background-color: #3ff;
  float: right;
}

main h1 {
  text-align: center;
  width: 100%;
  font-size: 6vh;
}

main h2 {
  padding: 0% 2% 0% 2%;
  height: 100%;
  width: 100%;
  font-size: 20px;
  float: left;
}

main p {
  padding: 0% 2% 2% 2%;
  height: 100%;
  width: 100%;
  font-size: 20px;
  float: left;
}

.atom {
  width: 10%;
  float: left;
  margin: 0% 10% 2% 30%;
}

.glitch {
  width: 10%;
  float: left;
  margin: 0% 30% 2% 10%;
}

.plaatje-1-2 {
  width: 80%;
  margin: 0% 10% 0% 10%;
}

.plaatje1 {
  width: 41.15%;
  border-radius: 5% 0% 0% 5%;
  float: left;
}

.plaatje2 {
  width: 54.85%;
  margin-bottom: 2%;
  border-radius: 0% 5% 5% 0%;
  float: left;
}

#Opleiding {
  margin-top: 2%;
}

.pictures {
  width: 90%;
  margin: 2% 5% 0% 5%;
}

.picture1 {
  width: 22.244%;
  float: left;
  border-radius: 5% 0% 0% 5%;
}

.picture2 {
  width: 22.244%;
  float: left;
}

.picture3 {
  width: 22.244%;
  float: left;
}

.picture4 {
  width: 16.635%;
  float: left;
}

.picture5 {
  width: 16.635%;
  float: left;
  border-radius: 0% 5% 5% 0%;
}

.pictures2 {
  width: 90%;
  margin: 2% 5% 0% 5%;
}

.picture6 {
  width: 14.58%;
  float: left;
  border-radius: 5% 0% 0% 5%;
}

.picture7 {
  width: 35.28%;
  float: left;
}

.picture8 {
  width: 14.86%;
  float: left;
}

.picture9 {
  width: 35.28%;
  float: left;
  border-radius: 0% 5% 5% 0%;
}

.ruimte {
  margin: 2%;
}

.game {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}
